extends layout

block content
  h1= title
  p Welcome to #{title}
  img(src="images/data/eyJ1cmkiOiJodHRwczovL2Zhc3RseS5waWNzdW0ucGhvdG9zL2lkLzQ3My8yMDAvMzAwLmpwZz9obWFjPVdZRzZldEY2MGlPSmVHb0ZWWTFoVkRNYWtiQlJTMzJaREdOa1ZaaEY2LTgiLCJjb250ZW50VHlwZSI6ImltYWdlL3BuZyJ9?extension=png", alt="", srcset="")
  img(src="images/data/eyJ1cmkiOiJodHRwczovL2Zhc3RseS5waWNzdW0ucGhvdG9zL2lkLzQ3My8yMDAvMzAwLmpwZz9obWFjPVdZRzZldEY2MGlPSmVHb0ZWWTFoVkRNYWtiQlJTMzJaREdOa1ZaaEY2LTgiLCJjb250ZW50VHlwZSI6ImltYWdlL3BuZyJ9?ratio=0.5&extension=gif", alt="", srcset="")
  img(src="images/data/eyJ1cmkiOiJodHRwczovL2Zhc3RseS5waWNzdW0ucGhvdG9zL2lkLzQ3My8yMDAvMzAwLmpwZz9obWFjPVdZRzZldEY2MGlPSmVHb0ZWWTFoVkRNYWtiQlJTMzJaREdOa1ZaaEY2LTgiLCJjb250ZW50VHlwZSI6ImltYWdlL3BuZyJ9?preset=hd", alt="", srcset="")
  img(src="images/data/eyJ1cmkiOiJodHRwczovL2Zhc3RseS5waWNzdW0ucGhvdG9zL2lkLzQ3My8yMDAvMzAwLmpwZz9obWFjPVdZRzZldEY2MGlPSmVHb0ZWWTFoVkRNYWtiQlJTMzJaREdOa1ZaaEY2LTgiLCJjb250ZW50VHlwZSI6ImltYWdlL3BuZyJ9?resHeight=500&resWidth=500", alt="", srcset="")
