extends layout

block content
  h1= title
  p Welcome to #{title}
  img(src="images/data/ewogICAgImZ1bGxVcmkiOiAiaHR0cHM6Ly9mYXN0bHkucGljc3VtLnBob3Rvcy9pZC80NzMvMjAwLzMwMC5qcGc%2FaG1hYz1XWUc2ZXRGNjBpT0plR29GVlkxaFZETWFrYkJSUzMyWkRHTmtWWmhGNi04Igp9?ratio=0.5", alt="", srcset="")
  img(src="images/data/ewogICAgImZ1bGxVcmkiOiAiaHR0cHM6Ly9mYXN0bHkucGljc3VtLnBob3Rvcy9pZC80NzMvMjAwLzMwMC5qcGc%2FaG1hYz1XWUc2ZXRGNjBpT0plR29GVlkxaFZETWFrYkJSUzMyWkRHTmtWWmhGNi04Igp9?preset=hd", alt="", srcset="")
  img(src="images/data/ewogICAgImZ1bGxVcmkiOiAiaHR0cHM6Ly9mYXN0bHkucGljc3VtLnBob3Rvcy9pZC80NzMvMjAwLzMwMC5qcGc%2FaG1hYz1XWUc2ZXRGNjBpT0plR29GVlkxaFZETWFrYkJSUzMyWkRHTmtWWmhGNi04Igp9?resHeight=500&resWidth=500", alt="", srcset="")
